<section class="posts">
  <h2>Posts</h2>
  <% if user_signed_in? %>
    <%= button_to 'Create New Post', new_post_path, method: :get %>
  <% end %>

  <div class="posts-container">
    <% @posts.each do |post| %>
      <article class="post">
        <h3><%= post.title %></h3>

        <% if user_signed_in? %>
          <p>
          Author: <%= User.find(post.user_id).username %>
          </p>
        <% end %>

        <p class="post-content"><%= post.body %></p>
      </article>
    <% end %>
  </div>
</section>

<%= javascript_pack_tag 'posts_index' %>
