<h2>New Post</h2>

<%= form_with model: @post do |form| %>
  <%= render "devise/shared/error_messages", resource: @post %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
