<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Members Only!</title>
    <meta name="author" content="Eduardo Pelaez Alvarado">
    <meta name="description" content="Members Only is a place where anyone can view posts submitted by users. However, only registered users may see the author of each post!">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <%= content_tag :p, msg, class: name %>
    <% end %>
    <%= yield %>
  </body>
</html>
